* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
  src: url(fonts/arial_bolditalicmt.ttf);
  font-size: 14px;
  line-height:22px;

}

.container {
  max-width: 950px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height:110px;
  justify-content: space-between;
  position: relative;
  margin-bottom:40px;
}

.header__wrapper::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #777777;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
}

.header__block1 {
  width: 110px;
  height:100%;
  background-color:#777777;
}

.header__block2 {
  width: 270px;
  height: 100%;
  background-color: #777777;
}

.header__block3 {
  width: 500px;
  height: 100%;
  background-color: #777777;
}

.content__wrapper {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  position: relative;
  margin-bottom:40px;
}

.content__wrapper::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #777777;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
}

.content__left {
  height: 100%;
  width:160px;
  background-color: #777777;
  padding:10px 20px 20px 10px;
  color:#fff;
}

.content__right {
  width:740px;
}

.content__block1 {
  padding:20px 80px 20px 20px;
  background-color: #DCDCDC;
  margin-bottom:20px;
  color: #777777;
}

.content__block1-title {
  margin-bottom:20px;
  color: #777777;
}

.content__block1-list {
  margin-left:40px;
  margin-bottom:20px;
}

.content__block1-list span {
  color: #777777;
  font-weight: 700;
}

.content__block2 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom:20px;
}

.content__block2 div {
  width:130px;
  height:150px;
  background-color: #DCDCDC;
}

.content__block3 {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.content__block3 div {
  width:360px;
  background-color: #DCDCDC;
  padding:20px 20px 40px 20px;
}

.footer__wrapper {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__block1, .footer__block2{
  max-width:290px;
  width:100%;
  background-color: #DCDCDC;
  display:flex;
  flex-direction:row;
  background-color:#777777;
  column-gap: 80px;
  padding:15px 40px 15px 25px;
}

.footer__block1-list1, .footer__block1-list2 {
  list-style-type: none;
  color:#fff;
}

.footer__block2-list {
  color:#fff;
  list-style-type:none ;
}

.footer__block2-item {
  display:flex;
  align-items: center;

}

.footer__block2-item:before {
  content: '';
  display: inline-block;
  height:6px;
  width: 6px;
  vertical-align: middle;
  background-color:#fff;
  margin-right:5px;
}

.footer__block3 {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__block3-block1, .footer__block3-block2 {
  width:290px;
  background-color:#777777;
  height:80px;
}

.footer__block3-block1 {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__link-nomber {
  text-decoration: none;
  color:#fff
}

.item__link-mail, .item__link-website {
  color:#fff
}


@media (max-width: 767px) {
  .header__wrapper {
    column-gap: 5px;
  }

  .content__wrapper {
    flex-direction: column;
  }

  .content__right {
    width:100%;
  }

  .content__left {
    width:100%;
    margin-bottom:10px;
  }
  
  .content__block2 {
    justify-content: space-between;
    column-gap:0;
  }

  .content__block2 div {
    width:120px;
    height:140px;
    background-color: #DCDCDC;
  }
  
  .content__block3 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .content__block3 div {
    width:100%;
  }

  .footer__wrapper {
    flex-direction: column;
    width:100%;
    row-gap: 10px;
  }

  .footer__block1{
    max-width: 100%;
    justify-content: space-around;
    column-gap: 0;
  }

  .footer__block2 {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer__block3 {
    row-gap: 10px;
  }

  .footer__block3-block1, .footer__block3-block2 {
    width:100%;
  }
}